@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 153 25% 20%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 0%;
    --accent: 153 45% 20%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 153 45% 30%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-accent text-foreground;
  }
}

.card-hover-effect {
  transition: transform 0.2s ease-out;
}

.card-hover-effect:hover {
  transform: translateY(-5px);
}